/* Etructura de Subdivision Panel*/
body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    background-image: url(../Archivos/fondo5.jpg)
}

.seccionNavg{
    height: 20%;
    width: 100%;
}

.Contenido{
    margin: 0px;
    padding: 0px;
    height: 70%;
    width: 100%;
    
}

.Footer{
    margin: 0px;
    padding: 2px;
    height: 10%;
    width: 99.7%;
    text-align: center;
    color: white;
}


/*Tag de Navegación*/
.navegacion {
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color:#755C48;
    opacity: 0.8;
    position: fixed;
}

.navegacion a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-family: Verdana;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
}

.navegacion a:hover{
    background:#EFA94A;
    color: white;
}


/* Contenido Juegos*/
.textoJh1{
    margin: 2%;
}

.textoJh2{
    margin: 2%;
}

.Imagen {
    height: 20%;
    width: 100%;
    text-align: center;
}

.Imagen img{
    height: 100%;
    width: 40%;
    border: 5px solid rgb(24, 23, 23);
}

.dContenidoTexto {
    height: 10%;
    width: 96%;
    margin: 2%;
}

.dContenidoTexto p{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: justify;
}

/* Contenido Comunidad*/
.comunidadDiv{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: justify;
}

.publicacion{
    margin: 2%;
    padding: 0px;
    height: 100%;
    width: 96%;
    text-align: justify;
    border: 1px solid rgb(253, 253, 253);
}

.publicacion dt{
    color: #EFA94A;
}

/*Contenido Registro*/
.formulario{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

fieldset{
    margin-left: 25%;
    padding: 0px;
    height: 100%;
    width: 50%;
    text-align: center;
}

.botonEnviar:hover{
    background: green;
    color: rgb(255, 255, 255);
}

.botonBorrar:hover{
    background: red;
    color: rgb(255, 255, 255);
}

/* Contenido multimedia*/
.dVideo{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.dAudio{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

video{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 40%;
}

audio{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 80%;
}

/*Contenido Inicio*/
.dTablaContenido{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 75%;
    margin-left: 13%;
}

.imgMenu{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 60%;
}

.imgTabla{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 60%;
}

button:hover{
    background: green;
    color: rgb(255, 255, 255);
}

.linkIntro{
    color:white;
}